body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.trails-map {
  margin: auto;
  width:100%; 
  max-width:1200px; 
  height:500px
}

.conditions-map {
  margin: auto;
  width:100%;
  width: 978px; 
  height: 398px;
}

.bikeimage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width:400px;
  max-height:250px;
  width: auto;
  height: auto;
}

.userCard {
  text-align: center;
  color: black
}
.garageCard {
  text-align: center;
  color: white
}

.addBikeForm {
  text-align: center;
  color: black
}
.rideCard {
  text-align: center;
  color: black
}

.savedRideCard {
  text-align: center;
  color: black
}

.searchText{
  text-align: center;
}

.navigation {
  color: #212121;
}

.brand {
  color: white
}

.loginButton {
  color: #e91e63
}

.logoutButton {
  color: #e91e63
}