body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.trails-map {
  margin: auto;
  width:100%; 
  max-width:1200px; 
  height:600px;
  border: none;
}

.trailsrow {
  margin-left: auto;
  margin-right: auto;
} 

.conditions-map {
  margin: auto;
  width:100%;
  max-width: 978px; 
  height: 600px;
  border: none;
}

.bikeimage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width:180px;
  max-height:200px;
}

.trailImage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width:400px;
    max-height:250px;
    width: auto;
    height: auto;
}

.userimage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width:210px;
  max-height:200px;
  border-radius: 4px;
  /* width: 100px;
  height: 200px; */
}

.rideImage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width:210px;
  max-height:200px;
  border-radius: 4px;
}

.cardSpecs {
  margin-left: auto;
  border-radius: 10px;
  margin-right: auto;
  display: inline-block;
  max-width:400px;
  opacity: 0.9;
  height: auto;
}

.userCard {
  text-align: center;
  color: black
}

.userProfileCard {
background-color: white;
opacity: 0.9;
}
.garageCard {
  text-align: center;
  color: black
}

.addBikeForm {
  text-align: center;
  color: black
}
.rideCard {
  text-align: center;
  color: black
}

.savedRideCard {
  text-align: center;
  color: black
}

.searchText{
  text-align: center;
}

.searchTrailsForm {
  margin: auto;
}

.searchTrailButton {
  margin: auto;
}

.trailName {
  text-align: center;
}
.navigation {
  color: black;
}
.navText {
  color: white;
}

.brand {
  color: white
}

.button {
  background-color: #e91e63;
  color: white;
  border-radius: 2px;
  border: 2px solid  #e91e63;
  box-shadow: 0 8px 16px 0 rgba(230, 53, 53, 0.043), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.addbutton {
  background-color: #e91e63;
  color: white;
  border-radius: 2px;
  border: 2px solid  #e91e63;
  box-shadow: 0 8px 16px 0 rgba(230, 53, 53, 0.043), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 0px;
}

.logoutButton {
  color: #e91e63
}

.shredsRightCol {
  overflow-x: auto;
  background: transparent;
  margin-left: 45px;
}

.garageMidCol {
  overflow-x: auto;
  background: transparent;
  margin-left: 380px;
}

.garageAddButton {
  background-color: #e91e63;
  color: white;
  border-radius: 2px;
  border: 2px solid  #e91e63;
  box-shadow: 0 8px 16px 0 rgba(230, 53, 53, 0.043), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 0px;
}

.garagetitleText{
  
  color: black
}

.midCol {
  overflow-y: hidden;
  background: transparent;
  margin: auto;
  border-radius: 1px;
  border: 1px solid  grey;
}


.rightCol {
  overflow-y: hidden;
  background: transparent;
}

.splashHeader {
  color: #e91e63;
  text-align: center;
}